<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <header>
      <h1>Seja bem vindo ao grimório do Orual!</h1>
      <div>
        <h4>
          Cada um dos links abaixo é uma categoria diferente, clique em algum
          deles para visualizar ou adicionar um item novo.
        </h4>
      </div>
      <nav>
        <ul>
          <li><a href="classes.html">Classes</a></li>
          <li><a href="armaduras.html">Armaduras</a></li>
          <li><a href="armas.html">Armas</a></li>
          <li><a href="magias.html">Magias</a></li>
        </ul>
      </nav>
    </header>

    <footer>
      <p>&copy; Orual's Team</p>
    </footer>
  </body>
</html>
