<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <h2>grimorio</h2>
    <a href="{{ url_for('cadastrar_magia') }}">Adicionar magia</a>
    {% if magias.__len__()==0 %}
    <p>nenhuma magia arquivada</p>
    {% endif %}
    <table border="1">
      <thead>
        <tr>
          <th>nome</th>
          <th>nível</th>
          <th>alcance</th>
          <th>editar</th>
          <th>remover</th>
        </tr>
      </thead>
      <tbody>
        {% for magia in Magias %}
        <tr>
          <td>{{ magia.nome }}</td>
          <td>{{ magia.nivel }}</td>
          <td>{{ magia.alcance }}</td>
          <td>
            <a href="{{ url_for('editar_magia', chave=magia.id)}}">Editar</a>
          </td>
          <td>
            <a href="{{ url_for('apagar_magia', chave=magia.id)}}">Remover</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h4>Outras categorias:</h4>
    <nav>
      <ul>
        <li><a href="{{ url_for('classes_list') }}">Início</a></li>
        <li><a href="{{ url_for('armaduras_list') }}">Armaduras</a></li>
        <li><a href="{{ url_for('armas_list') }}">Armas</a></li>
        <li><a href="{{ url_for('magias_list') }}">Magias</a></li>
      </ul>
    </nav>
    <footer>
      <p>&copy; Orual's Team</p>
    </footer>
  </body>
</html>
